.header-container {
  text-align: center;
  align-self: stretch;
  background-color: #cbd5e1;
  margin-bottom: 64px;
}

.header-text {
  color: #475569;
  font: 600 32px Roboto;
}

@media screen and (min-width: 768px) {
  .header-text {
    font-size: 48px;
  }
}
